* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  background: #ccee66;
  color: white;
  padding: 20px 160px;
  height: 100vh;
  overflow: hidden;
}


.logo {
  position: absolute;
  top: 3%;
  margin-bottom: 10px;
  width: 80px;
  z-index: 1;
}


body::before {
  content: '';
  background: #202020;
  position: absolute;
  top: 0;
  left: -100vw;
  transform: rotate(-70deg);
  width: 230vw;
  height: 130%;
  z-index: -1;
}


body::after {
  content: 'Nike';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 250px;
  font-weight: bold;
  opacity: 0.5;
}


h4 {
  font-size: 30px;
}


h1 {
  font-size: 80px;
}



p {
  font-size: 16px;
  margin-bottom: 40px;
  width: 420px;
}


.botao-carrinho {
  background: #bfe746;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}


.botao-carrinho:hover {
  opacity: 0.7;
}


.imagem-tenis {
  width: 800px;
  transform: rotate(-25deg);
  filter: drop-shadow(30px 45px 40px #161616);
  transition: 1s;
}


.troca-efeito {
  opacity: 0;
  transform: rotate(-25deg) translate(-30px);
}


.caixa-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75%;
  position: relative;
  z-index: 1;
}


.caixa-texto {
  max-width: 500px;
}


.caixa-botoes {
  z-index: 2;
  position: relative;
  display: flex;
  gap: 20px;
}


.botoes {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}


.botoes:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}


.botoes:active {
  opacity: 0.6;
}


.verde {
  background: #ccee66;
}


.azul {
  background: #58cced;
}


.rosa {
  background: #ff9eb5;
}





/***********************************************************/





@media screen and (max-width: 1640px) {
  .imagem-tenis {
    max-width: 725px;
    margin-left: 12%;
  }


  body::after {
    margin-left: 10%;
  }
}



/***********************************************************/



@media screen and (max-width: 1400px) {
  body{
    padding-left: 140px;
}


  .imagem-tenis {
   max-width: 690px;
    margin-left: 5%;
  }


  body::after {
    margin-left: 12%;
    font-size: 230px;
  }
}



/***********************************************************/



@media screen and (max-width: 1280px) {
  body{
    padding-left: 80px;
}


  .imagem-tenis {
    max-width: 680px;
    margin-left: 2%;
  }


  body::after {
    margin-left: 15%;
    font-size: 220px;
  }
}



/***********************************************************/



@media screen and (max-width: 1240px) {
body::before {
  width: 217vw;
}


.logo{
  max-width: 60px;
}
 
  
h4 {
  font-size: 25px;
}  


h1 {
  font-size: 65px;
}


p {
  font-size: 13.4px;
  width: 28vh;
}
}



/***********************************************************/




@media screen and (max-width: 1024px) {
  body{
    padding: 20px 60px;
}


.imagem-tenis {
  max-width: 600px;
}


body::after {
  
  margin-left: 10%;
  font-size: 220px;
}


.logo{
  max-width: 60px;
}
 
  
h4 {
  font-size: 20px;
  margin-top: 25%;
}  


h1 {
  font-size: 55px;
}


p {
  font-size: 13.4px;
  width: 43vh;
}


.botao-carrinho{
  padding: 10px 20px;
  font-size: 13px;
}


.botoes {
  width: 63px;
  height: 63px;
  margin-top: 4%;
}
}



/***********************************************************/



@media screen and (max-width: 912px) {
  body::before {
    position: absolute;
    left: -150vw;
    transform: rotate(-43deg);
    width: 330%;
    height: 78%;
  }


.logo{
  max-width: 70px;
}
 
  
h4 {
  font-size: 25px;
}  


h1 {
  font-size: 75px;
  width: 25vh;
}


p {
  font-size: 18px;
  width: 26vh;
}


.imagem-tenis {
  max-width: 600px;
  margin-top: 45vh;
  margin-left: -10vh;
}


body::after { 
  margin-top: 30%;
  margin-left: 5%;
  font-size: 210px;
}
}



/***********************************************************/



@media screen and (max-width: 820px) {
.imagem-tenis {
  max-width: 520px;
  margin-left: -8vh;
}


body::after { 
  margin-left: 12%;
  font-size: 200px;
}
}



/***********************************************************/


@media screen and (max-width: 768px) {
  p {
    width: 30vh;
  }


  .imagem-tenis {
    max-width: 450px;
    margin-left: -8vh;
  }
  
  
  body::after { 
    margin-top:25% ;
    margin-left: 13%;
    font-size: 170px;
  }
  }



/***********************************************************/



@media screen and (max-width: 540px) {
  body{
    padding-left: 40px;
}


  .logo {
    max-width: 50px;
    top: 5%;
  }


  h4 {
    font-size: 18px;
  }


  h1 {
    font-size: 45px;
    width: 26vh;
  }


  p {
    font-size: 13px;
    width: 35vh;
  }


  .botao-carrinho {
    padding: 8px 16px;
    font-size: 10px;
    font-weight: 600;
    bottom: 18%;
  }


  .botoes {
    width: 43px;
    height: 43px;
  }


  .caixa-botoes {
    bottom: 10%;
  }


  body::after {
    font-size: 140px;
    top: 67%;
    left: 40%;
  }


  .imagem-tenis {
    margin-top: 65vh;
    margin-left: -10rem;
    width: 380px;
  }
}



/***********************************************************/




@media screen and (max-width: 430px) {
  body{
    padding-left: 30px;
}


  body::after {
    top: 75%;
    left: 40%;
  }


  .imagem-tenis {
    margin-bottom: -20vh;
    margin-left: -85%;
    max-width: 380px;
  }
}



/***********************************************************/



@media screen and (max-width: 375px) {
  body{
    padding: 20px ;
}


h4{
  font-size: 15px;
}


h1{
  font-size: 40px;
}


p {
  font-size: 10px;
  max-width: 95%;
}


.caixa-botoes {
  margin-top: 1rem;
}


  body::after {
    top: 83%;
    left: 40%;
  }


  .imagem-tenis {
    margin-bottom: -16rem; 
    margin-right: -5vh;
    display: block;
    max-width: 300px; 
  }
}



/***********************************************************/



@media screen and (max-width: 344px) {
  h4{
    font-size: 18px;
  }
  
  
  h1{
    font-size: 55px;
  }
  

  p {
    font-size: 13px;
    max-width: 82%;
  }
 

  body::after {
    top: 83%;
    left: 36%;
  }


  .imagem-tenis {
    margin-bottom: -16rem; 
    margin-right: 8vh;
    max-width: 300px; 
  }
}